@page "/Charts-sparkline"


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Sparklines</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Charts</a></li>
                <li class="breadcrumb-item active">Sparklines</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark1">0,5,3,7,5,10,3,6,5,10</div>
                    <div class="data-info">
                        <div class="desc">New Users</div>
                        <div class="value">
                            <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span class="number">113</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark2">5,8,7,10,9,10,8,6,4,6,8,7,6,8</div>
                    <div class="data-info">
                        <div class="desc">Monthly Sales</div>
                        <div class="value">
                            <span class="indicator indicator-positive mdi mdi-chevron-up"></span><span class="number">80%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark3">2,3,4,5,4,3,2,3,4,5,6,5,4,3,4,5,6,5,4,4,5</div>
                    <div class="data-info">
                        <div class="desc">Impressions</div>
                        <div class="value">
                            <span class="indicator indicator-positive mdi mdi-chevron-up"></span><span class="number">532</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="widget widget-tile">
                    <div class="chart sparkline" id="spark4">2,5,3,7,5,10,3,6,5,7</div>
                    <div class="data-info">
                        <div class="desc">Downloads</div>
                        <div class="value">
                            <span class="indicator indicator-negative mdi mdi-chevron-down"></span><span class="number">113</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget widget-fullwidth widget-small">
                    <div class="widget-head">
                        <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync"></span><span class="icon mdi mdi-close"></span></div>
                        <div class="title">Inline Charts</div>
                        <div class="description">These are the basic sparkline charts</div>
                    </div>
                    <table class="table table-fw-widget">
                        <thead>
                            <tr>
                                <th style="width:70%;">Name</th>
                                <th class="text-right">Graph</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Line graph</td>
                                <td class="text-right"><span class="sparklinebasic">8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span></td>
                            </tr>
                            <tr>
                                <td>Bar graph</td>
                                <td class="text-right"><span class="sparkbar">10,8,9,3,5,8,5</span></td>
                            </tr>
                            <tr>
                                <td>Pie charts</td>
                                <td class="text-right"><span class="sparkpie">1,1,2</span><span class="sparkpie">1,5</span><span class="sparkpie">20,50,80</span></td>
                            </tr>
                            <tr>
                                <td>Bullet charts</td>
                                <td class="text-right"><span class="sparkbullet">10,12,12,9,7</span></td>
                            </tr>
                            <tr>
                                <td>Stacked</td>
                                <td class="text-right"><span class="sparkbar">0:2,2:4,4:2,4:1</span></td>
                            </tr>
                            <tr>
                                <td>Composite</td>
                                <td class="text-right"><span class="compositeline">8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget widget-fullwidth widget-small">
                    <div class="widget-head">
                        <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync"></span><span class="icon mdi mdi-close"></span></div>
                        <div class="title">Inline Charts</div>
                        <div class="description">These are the advanced sparkline charts</div>
                    </div>
                    <table class="table table-fw-widget">
                        <thead>
                            <tr>
                                <th style="width:70%;">Name</th>
                                <th class="text-right">Graph</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Composite bar</td>
                                <td class="text-right"><span class="compositebar">4,6,7,7,4,3,2,1,4</span></td>
                            </tr>
                            <tr>
                                <td>Discrete</td>
                                <td class="text-right"><span class="discrete1">4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5</span></td>
                            </tr>
                            <tr>
                                <td>Discrete with threshold</td>
                                <td class="text-right"><span class="discrete2">4,6,7,7,4,3,2,1,4</span></td>
                            </tr>
                            <tr>
                                <td>Customize size and colours</td>
                                <td class="text-right"><span class="linecustom">10,8,9,3,5,8,5,7</span></td>
                            </tr>
                            <tr>
                                <td>Tristate charts</td>
                                <td class="text-right"><span class="sparktristate">1,1,0,1,-1,-1,1,-1,0,0,1,1</span></td>
                            </tr>
                            <tr>
                                <td>Box Plot</td>
                                <td class="text-right"><span class="sparkboxplot">4,27,34,52,54,59,61,68,78,82,85,87,91,93,100</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="be-right-sidebar">
    <div class="sb-content">
        <div class="tab-navigation">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Chat</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Todo</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Settings</a></li>
            </ul>
        </div>
        <div class="tab-panel">
            <div class="tab-content">
                <div class="tab-pane tab-chat active" id="tab1" role="tabpanel">
                    <div class="chat-contacts">
                        <div class="chat-sections">
                            <div class="be-scroller-chat">
                                <div class="content">
                                    <h2>Recent</h2>
                                    <div class="contact-list contact-list-recent">
                                        <div class="user">
                                            <a href="#">
                                                <img src="assets\img\avatar1.png" alt="Avatar">
                                                <div class="user-data"><span class="status away"></span><span class="name">Claire Sassu</span><span class="message">Can you share the...</span></div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <img src="assets\img\avatar2.png" alt="Avatar">
                                                <div class="user-data"><span class="status"></span><span class="name">Maggie jackson</span><span class="message">I confirmed the info.</span></div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <img src="assets\img\avatar3.png" alt="Avatar">
                                                <div class="user-data"><span class="status offline"></span><span class="name">Joel King		</span><span class="message">Ready for the meeti...</span></div>
                                            </a>
                                        </div>
                                    </div>
                                    <h2>Contacts</h2>
                                    <div class="contact-list">
                                        <div class="user">
                                            <a href="#">
                                                <img src="assets\img\avatar4.png" alt="Avatar">
                                                <div class="user-data2"><span class="status"></span><span class="name">Mike Bolthort</span></div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <img src="assets\img\avatar5.png" alt="Avatar">
                                                <div class="user-data2"><span class="status"></span><span class="name">Maggie jackson</span></div>
                                            </a>
                                        </div>
                                        <div class="user">
                                            <a href="#">
                                                <img src="assets\img\avatar6.png" alt="Avatar">
                                                <div class="user-data2"><span class="status offline"></span><span class="name">Jhon Voltemar</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-input">
                            <input type="text" placeholder="Search..." name="q"><span class="mdi mdi-search"></span>
                        </div>
                    </div>
                    <div class="chat-window">
                        <div class="title">
                            <div class="user">
                                <img src="assets\img\avatar2.png" alt="Avatar">
                                <h2>Maggie jackson</h2><span>Active 1h ago</span>
                            </div><span class="icon return mdi mdi-chevron-left"></span>
                        </div>
                        <div class="chat-messages">
                            <div class="be-scroller-messages">
                                <div class="content">
                                    <ul>
                                        <li class="friend">
                                            <div class="msg">Hello</div>
                                        </li>
                                        <li class="self">
                                            <div class="msg">Hi, how are you?</div>
                                        </li>
                                        <li class="friend">
                                            <div class="msg">Good, I'll need support with my pc</div>
                                        </li>
                                        <li class="self">
                                            <div class="msg">Sure, just tell me what is going on with your computer?</div>
                                        </li>
                                        <li class="friend">
                                            <div class="msg">I don't know it just turns off suddenly</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chat-input">
                            <div class="input-wrapper">
                                <span class="photo mdi mdi-camera"></span>
                                <input type="text" placeholder="Message..." name="q" autocomplete="off"><span class="send-msg mdi mdi-mail-send"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane tab-todo" id="tab2" role="tabpanel">
                    <div class="todo-container">
                        <div class="todo-wrapper">
                            <div class="be-scroller-todo">
                                <div class="todo-content">
                                    <span class="category-title">Today</span>
                                    <ul class="todo-list">
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" checked="" id="tck1">
                                                <label class="custom-control-label" for="tck1">Initialize the project</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" id="tck2">
                                                <label class="custom-control-label" for="tck2">Create the main structure							</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" id="tck3">
                                                <label class="custom-control-label" for="tck3">Updates changes to GitHub							</label>
                                            </div>
                                        </li>
                                    </ul><span class="category-title">Tomorrow</span>
                                    <ul class="todo-list">
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" id="tck4">
                                                <label class="custom-control-label" for="tck4">Initialize the project							</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" id="tck5">
                                                <label class="custom-control-label" for="tck5">Create the main structure							</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" id="tck6">
                                                <label class="custom-control-label" for="tck6">Updates changes to GitHub							</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-checkbox custom-control custom-control-sm">
                                                <span class="delete mdi mdi-delete"></span>
                                                <input class="custom-control-input" type="checkbox" id="tck7">
                                                <label class="custom-control-label" for="tck7" title="This task is too long to be displayed in a normal space!">This task is too long to be displayed in a normal space!							</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-input">
                            <input type="text" placeholder="Create new task..." name="q"><span class="mdi mdi-plus"></span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane tab-settings" id="tab3" role="tabpanel">
                    <div class="settings-wrapper">
                        <div class="be-scroller-settings">
                            <span class="category-title">General</span>
                            <ul class="settings-list">
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" checked="" name="st1" id="st1"><span>
                                            <label for="st1"></label>
                                        </span>
                                    </div><span class="name">Available</span>
                                </li>
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" checked="" name="st2" id="st2"><span>
                                            <label for="st2"></label>
                                        </span>
                                    </div><span class="name">Enable notifications</span>
                                </li>
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" checked="" name="st3" id="st3"><span>
                                            <label for="st3"></label>
                                        </span>
                                    </div><span class="name">Login with Facebook</span>
                                </li>
                            </ul><span class="category-title">Notifications</span>
                            <ul class="settings-list">
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" name="st4" id="st4"><span>
                                            <label for="st4"></label>
                                        </span>
                                    </div><span class="name">Email notifications</span>
                                </li>
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" checked="" name="st5" id="st5"><span>
                                            <label for="st5"></label>
                                        </span>
                                    </div><span class="name">Project updates</span>
                                </li>
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" checked="" name="st6" id="st6"><span>
                                            <label for="st6"></label>
                                        </span>
                                    </div><span class="name">New comments</span>
                                </li>
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" name="st7" id="st7"><span>
                                            <label for="st7"></label>
                                        </span>
                                    </div><span class="name">Chat messages</span>
                                </li>
                            </ul><span class="category-title">Workflow</span>
                            <ul class="settings-list">
                                <li>
                                    <div class="switch-button switch-button-sm">
                                        <input type="checkbox" name="st8" id="st8"><span>
                                            <label for="st8"></label>
                                        </span>
                                    </div><span class="name">Deploy on commit</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Footer Section End -->
<!-- Js Plugins
@code {

}
