@page "/"
@namespace VegetableShop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VegetableShop</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/LTE/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/LTE/css/style.css" type="text/css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="VegetableShop.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="~/LTE/js/jquery-3.3.1.min.js"></script>

    <script src="~/LTE/js/jquery-3.3.1.min.js"></script>
    <script src="~/LTE//bootstrap.min.js"></script>
    <script src="~/LTE/js/jquery.nice-select.min.js"></script>
    <script src="~/LTE/js/jquery-ui.min.js"></script>
    <script src="~/LTE/js/jquery.slicknav.js"></script>
    <script src="~/LTE/js/mixitup.min.js"></script>
    <script src="~/LTE/js/owl.carousel.min.js"></script>
    <script src="~/LTE/js/main.js"></script>
</body>
</html>
