@page "/Roles"
@using VegetableShop.Services
@using VegetableShop.Data
@inject RoleService roleService

<NavLink class="nav-link" href="AddRoles">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>

</NavLink>

<h1>Role Info</h1>
@if (RoleObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Role Name</th>
                <th>Status</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in RoleObj)
            {
                <tr>
                    <td>@role.id</td>
                    <td>@role.role_name</td>
                    <td>@role.status</td>
                    <td>@role.created_at</td>
                    <td>
                        <a class="nav-link" href="EditRole/@role.id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="DeleteRole/@role.id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<roles> RoleObj;
    protected override async Task OnInitializedAsync()
    {
        RoleObj = await Task.Run(() => roleService.GetAllRolesAsync());
    }
}